
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>旅游团购|内蒙古欢迎您</title>

    <!-- CSS -->
    <link href="static/contactE/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/contactE/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="static/contactE/css/animate.min.css" rel="stylesheet" media="screen">
    <link href="static/contactE/css/lightbox.css" rel="stylesheet" media="screen">
    <link href="static/contactE/css/syntax/shCore.css" rel="stylesheet"  media="screen">
    <link href="static/contactE/css/syntax/shThemeDefault.css" rel="stylesheet"  media="screen">

    
    <link href="static/contactE/css/style.css" rel="stylesheet" media="screen" title="default">
    <link href="static/contactE/css/color-niceblue.css" rel="stylesheet" media="screen" title="default">
    <link href="static/contactE/css/width-full.css" rel="stylesheet" media="screen" title="default">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="static/contactE/js/html5shiv.js"></script>
        <script src="static/contactE/js/respond.min.js"></script>
    <![endif]-->
</head>


<body>

    <!-- Setting Options -->
    <div id="color-switcher" class="animated fadeIn animation-dalay-10">
        <div id="color-switcher-tab">
            <i class="fa fa-gear fa fa-2x"></i>
        </div>
        <div id="color-switcher-content">
            <h3>Color Selector</h3>
            <a href="#" rel="color-default.css" class="color default">default</a>
            <a href="#" rel="color-niceblue.css" class="color niceblue">niceblue</a>
            <a href="#" rel="color-intenseblue.css" class="color intenseblue">intenseblue</a>
            <a href="#" rel="color-otherblue.css" class="color otherblue">otherblue</a>
            <a href="#" rel="color-blue.css" class="color blue">blue</a>
            <a href="#" rel="color-puregreen.css" class="color puregreen">puregreen</a>
            <a href="#" rel="color-grassgreen.css" class="color grassgreen">grassgreen</a>
            <a href="#" rel="color-green.css" class="color green">green</a>        
            <a href="#" rel="color-olive.css" class="color olive">olive</a>
            <a href="#" rel="color-gold.css" class="color gold">gold</a>
            <a href="#" rel="color-orange.css" class="color orange">orange</a>
            <a href="#" rel="color-pink.css" class="color pink">pink</a>
            <a href="#" rel="color-fuchsia.css" class="color fuchsia">fuchsia</a>
            <a href="#" rel="color-violet.css" class="color violet">violet</a>
            <a href="#" rel="color-red.css" class="color red">red</a>
            

            <h3>Container Selector</h3>
            <div class="btn-group">
                <button href="#" class="option btn btn-sm btn-primary" rel="width-boxed.css">Boxed</button>
                <button href="#" class="option btn btn-sm btn-primary" rel="width-full.css">Full Width</button>
            </div>
        </div>
    </div> <!-- color-switcher -->

    <div class="boxed animated fadeIn animation-delay-5">

        <header id="header" class="hidden-xs">
            <div class="container">
                <div id="header-title">
                    <h1 class="animated fadeInDown"><a href="index.html">内蒙古<span>欢饮您</span></a></h1>
                    <p class="animated fadeInLeft"> &nbsp&nbsp观光内蒙旅游网</p>
                </div>

                <div id="social-header" class="hidden-xs">
                    <a href="#" class="social-icon soc-twitter animated fadeInDown animation-delay-1"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="social-icon soc-google-plus animated fadeInDown animation-delay-2"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="social-icon soc-facebook animated fadeInDown animation-delay-3"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="social-icon soc-instagram animated fadeInDown animation-delay-4"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="social-icon soc-pinterest animated fadeInDown animation-delay-5"><i class="fa fa-pinterest"></i></a>
                    <a href="#" class="social-icon soc-linkedin animated fadeInDown animation-delay-6"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="social-icon soc-github animated fadeInDown animation-delay-7"><i class="fa fa-github"></i></a>
                </div>

                <div id="search-header" class="hidden-xs animated fadeInRight">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                            </span>
                    </div><!-- /input-group -->
                </div>
            </div> <!-- container -->
        </header> <!-- header -->

        <nav class="navbar navbar-static-top navbar-mind" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand visible-xs" href="index.html">Open <span>Mind</span></a>

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-mind-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-inverse"></i>
                    </button>
                </div>
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-mind-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="index">主页</a></li>
                        <li><a href="Wkfeature">特色景观</a></li>
                        <li><a href="ydtindex">旅游团购</a></li>
                        <li><a href="hotel">酒店预订</a></li>
                    </ul> <!-- nav nabvar-nav -->

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">登入</a>
                            <div class="dropdown-menu dropdown-login animated fadeInUp">
                                <form role="form">
                                    <h4 class="section-title">登入</h4>
         
                                    <div class="form-group">
                                        <div class="input-group login-input">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input type="text" class="form-control" placeholder="账号">
                                        </div>
                                        <br>
                                        <div class="input-group login-input">
                                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                            <input type="password" class="form-control" placeholder="密码">
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> 记住我
                                            </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary pull-right">登入</button>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>      
                            </div>
                        </li> <!-- dropdown -->

                        <li>
                        <a href="register">注册</a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">我的信息</a>
                            <div class="dropdown-menu dropdown-profile animated fadeInUp">
                                <img src="static/index/img/avatar.jpg" class="imageborder alignleft" alt="image"> 
                                <h4>Administrator</h4>
                                admin@openmind.com<br>
                                <a href="profile.html">Profile</a> | <a href="#">Logout</a>

                            </div>
                        </li> <!-- dropdown -->
                    </ul> <!-- nav nabvar-nav -->
                </div><!-- navbar-collapse -->
            </div> <!-- container -->
        </nav> <!-- navbar navbar-default -->
        <header class="wrap-title">
            <div class="container">
                <h1 class="page-title">信息提交</h1>

                <ol class="breadcrumb hidden-xs">
                    <li><a href="index">主页</a></li>
                    <li><a href="ydtindex">旅游团购</a></li>
                    <li class="active">信息提交</li>
                </ol>
            </div>
        </header>

    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <section>
                    <h2 class="section-title">预订信息</h2>

                    <p>如果你想预定我们的旅游项目，那么请在下面的表格出填写您的信息，我们会再3天之内有专门的工作人员与您联系，如果您距离我们比较近，也可以来我们公司进行咨询，预祝您旅途愉快！！</p>

                    <form role="form">
                        <div class="form-group">
                            <label for="InputName">姓名</label>
                            <input type="email" class="form-control" id="InputName">
                        </div>
                        <div class="form-group">
                            <label for="InputName">想去的旅游地点</label>
                            <input type="email" class="form-control" id="InputName">
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">出行人数</label>
                            <div class="controls">
                                <select class="span6">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>5人以上</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="InputEmail1">电话号码</label>
                            <input type="email" class="form-control" id="InputEmail1">
                        

                        <div class="form-group">
                            <label for="InputEmail1">邮箱</label>
                            <input type="email" class="form-control" id="InputEmail1">
                        </div>
                        <div class="form-group">
                            <label for="InputMessage">需求</label>
                            <textarea class="form-control" id="InputMessage" rows="8"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">提交</button>
                        <div class="clearfix"></div>
                    </form>
                </section>
            </div>

            <div class="col-md-4">
                <section>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><i class="fa fa-envelope-o"></i><span class="badge pull-left">很高兴为您服务</span></div>
                        <div class="panel-body">
                                <h4 class="section-title">联系我们</h4>
                                <address>
                                    <strong>观光内蒙旅游网</strong><br>
                                    hjc, 工号：11111<br>
                                    ztc， 工号：33333<br>
                                    <abbr title="Phone">联系电话:</abbr>18811505021、18211505673<br>
                                    联系邮箱: <a href="#">944566604
                                    @qq.com</a>
                                </address>

                                <!-- Business Hours -->
                                <h4 class="section-title">服务时间</h4>
                                <ul class="list-unstyled">
                                    <li><strong>周一-周五:</strong> 早9点至晚9点</li>
                                    <li><strong>周六:</strong> 早9点至晚六点</li>
                                    <li><strong>周日:</strong> 休息</li>
                                </ul>
                            </div>
                        </div>
                </section>
            </div>
        </div>
        <!--
        <section>
            <div class="well well-sm">
                <iframe width="100%" height="350"output=embed">aaa</iframe>
            </div>
        </section>
        -->
    </div> <!-- container -->

        <aside id="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="footer-widget-title">导航</h3>
                        <ul class="list-unstyled three_cols">
                            <li><a href="index">主    页</a></li>
                            <li><a href="Wkfeature">知名景点</a></li>
                            <li><a href="ydtindex">旅游团购</a></li>
                            <li><a href="index">--------</a></li>
                            <li><a href="Wkfeature">--------</a></li>
                            <li><a href="ydtindex">--------</a></li>
                            <li><a href="hotel">酒店预订</a></li>
                            <li><a href="Photo">游客相册</a></li>
                            <li><a href="testimonials">游客推荐</a></li>
                            <li><a href="hotel">--------</a></li>
                            <li><a href="Photo">--------</a></li>
                            <li><a href="testimonials">--------</a></li>
                        </ul>
                        <h3 class="footer-widget-title">关注我们</h3>
                        <p>如果您想随时了解旅游信息，掌握旅游动态，请把邮箱留给我们，我们会随时把最新消息发送给您。</p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="邮箱地址">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="button">订阅</button>
                            </span>
                        </div><!-- /input-group -->
                    </div>




                    <div class="col-md-4">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">最近动态</h3>

    {%for f in mzt%}
                            <div class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="/media/{{f.img}}" width="75" height="75" alt="image"></a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">{{f.text}}</a></h4>
                                    <small>{{f.date.year}}年{{f.date.month}}月{{f.date.day}}日</small>
                                </div>
                            </div>
    {%endfor%}  
                        </div>
                    </div>



                    <div class="col-md-4">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">友情链接</h3>
                            <div class="row">

     {%for z in links%}
                                <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                                    <a href="{{z.src}}" class="thumbnail"><img src="/media/{{z.img}}" class="img-responsive" alt="Image"></a>
                                </div>
    
    {%endfor%}
                            </div>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </aside> <!-- footer-widgets -->

        <footer id="footer">
            <p>&copy; 2015.2.10-- <a href="#">智普教育</a>，内蒙古欢迎您。</p>
        </footer>

    </div> <!-- boxed -->

    <div id="back-top">
        <a href="#header"><i class="fa fa-chevron-up"></i></a>
    </div>

    <!-- Scripts -->
    <script src="static/contactE/js/jquery-1.10.2.min.js"></script>
    <script src="static/contactE/js/jquery.cookie.js"></script>
    <script src="static/contactE/js/bootstrap.min.js"></script>
    <script src="static/contactE/js/jquery.mixitup.min.js"></script>
    <script src="static/contactE/js/lightbox-2.6.min.js"></script>
    <script src="static/contactE/js/holder.js"></script>
    <script src="static/contactE/js/app.js"></script>
    <script src="static/contactE/js/styleswitcher.js"></script>

    <script src="static/contactE/js/syntax/shCore.js"></script>
    <script src="static/contactE/js/syntax/shBrushXml.js"></script>
    <script src="static/contactE/js/syntax/shBrushJScript.js"></script>

    <script type="text/javascript">
        SyntaxHighlighter.all()
    </script>
</body>

</html>
