
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>旅店预定|内蒙古欢迎您|观光内蒙旅游网</title>

    <!-- CSS -->
    <link href="static/hotelE/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/hotelE/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="static/hotelE/css/animate.min.css" rel="stylesheet" media="screen">
    <link href="static/hotelE/css/lightbox.css" rel="stylesheet" media="screen">
    <link href="static/hotelE/css/syntax/shCore.css" rel="stylesheet"  media="screen">
    <link href="static/hotelE/css/syntax/shThemeDefault.css" rel="stylesheet"  media="screen">

    
    <link href="static/hotelE/css/style.css" rel="stylesheet" media="screen" title="default">
    <link href="static/hotelE/css/color-niceblue.css" rel="stylesheet" media="screen" title="default">
    <link href="static/hotelE/css/width-full.css" rel="stylesheet" media="screen" title="default">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="static/hotelE/js/html5shiv.js"></script>
        <script src="static/hotelE/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

   <!-- Setting Options -->
    <div id="color-switcher" class="animated fadeIn animation-dalay-10">
        <div id="color-switcher-tab">
            <i class="fa fa-gear fa fa-2x"></i>
        </div>
        <div id="color-switcher-content">
            <h3>Color Selector</h3>
            <a href="#" rel="color-default.css" class="color default">default</a>
            <a href="#" rel="color-niceblue.css" class="color niceblue">niceblue</a>
            <a href="#" rel="color-intenseblue.css" class="color intenseblue">intenseblue</a>
            <a href="#" rel="color-otherblue.css" class="color otherblue">otherblue</a>
            <a href="#" rel="color-blue.css" class="color blue">blue</a>
            <a href="#" rel="color-puregreen.css" class="color puregreen">puregreen</a>
            <a href="#" rel="color-grassgreen.css" class="color grassgreen">grassgreen</a>
            <a href="#" rel="color-green.css" class="color green">green</a>        
            <a href="#" rel="color-olive.css" class="color olive">olive</a>
            <a href="#" rel="color-gold.css" class="color gold">gold</a>
            <a href="#" rel="color-orange.css" class="color orange">orange</a>
            <a href="#" rel="color-pink.css" class="color pink">pink</a>
            <a href="#" rel="color-fuchsia.css" class="color fuchsia">fuchsia</a>
            <a href="#" rel="color-violet.css" class="color violet">violet</a>
            <a href="#" rel="color-red.css" class="color red">red</a>
            

            <h3>Container Selector</h3>
            <div class="btn-group">
                <button href="#" class="option btn btn-sm btn-primary" rel="width-boxed.css">Boxed</button>
                <button href="#" class="option btn btn-sm btn-primary" rel="width-full.css">Full Width</button>
            </div>
        </div>
    </div> <!-- color-switcher -->

    <div class="boxed animated fadeIn animation-delay-5">

        <header id="header" class="hidden-xs">
            <div class="container">&nbsp&nbsp
                <div id="header-title">
                    <h1 class="animated fadeInDown"><a href="index.html">内蒙古<span>欢饮您</span></a></h1>
                    <p class="animated fadeInLeft">&nbsp&nbsp观光内蒙旅游网</p>
                </div>

                <div id="social-header" class="hidden-xs">
                    <a href="#" class="social-icon soc-twitter animated fadeInDown animation-delay-1"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="social-icon soc-google-plus animated fadeInDown animation-delay-2"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="social-icon soc-facebook animated fadeInDown animation-delay-3"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="social-icon soc-instagram animated fadeInDown animation-delay-4"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="social-icon soc-pinterest animated fadeInDown animation-delay-5"><i class="fa fa-pinterest"></i></a>
                    <a href="#" class="social-icon soc-linkedin animated fadeInDown animation-delay-6"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="social-icon soc-github animated fadeInDown animation-delay-7"><i class="fa fa-github"></i></a>
                </div>

                <div id="search-header" class="hidden-xs animated fadeInRight">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜索...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                            </span>
                    </div><!-- /input-group -->
                </div>
            </div> <!-- container -->
        </header> <!-- header -->

        <nav class="navbar navbar-static-top navbar-mind" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand visible-xs" href="index.html">Open <span>Mind</span></a>

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-mind-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-inverse"></i>
                    </button>
                </div>
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-mind-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="index">主页</a></li>
                        <li><a href="Wkfeature">特色景观</a></li>
                        <li><a href="ydtindex">旅游团购</a></li>
                        <li><a href="#">酒店预订</a></li>
                    </ul> <!-- nav nabvar-nav -->

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">登入</a>
                            <div class="dropdown-menu dropdown-login animated fadeInUp">
                                <form role="form">
                                    <h4 class="section-title">登入</h4>
         
                                    <div class="form-group">
                                        <div class="input-group login-input">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input type="text" class="form-control" placeholder="账号">
                                        </div>
                                        <br>
                                        <div class="input-group login-input">
                                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                            <input type="password" class="form-control" placeholder="密码">
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> 记住我
                                            </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary pull-right">登入</button>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>      
                            </div>
                        </li> <!-- dropdown -->

                        <li>
                        <a href="register">注册</a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">我的信息</a>
                            <div class="dropdown-menu dropdown-profile animated fadeInUp">
                                <img src="static/index/img/avatar.jpg" class="imageborder alignleft" alt="image"> 
                                <h4>Administrator</h4>
                                admin@openmind.com<br>
                                <a href="profile.html">Profile</a> | <a href="#">Logout</a>

                            </div>
                        </li> <!-- dropdown -->
                    </ul> <!-- nav nabvar-nav -->
                </div><!-- navbar-collapse -->
            </div> <!-- container -->
        </nav> <!-- navbar navbar-default -->

        <header class="wrap-title">
            <div class="container">
                <h1 class="page-title">旅店预定</h1>

                <ol class="breadcrumb hidden-xs">
                    <li><a href="index">主页</a></li>
                    <li class="active">旅店预定</li>
                </ol>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <nav id="sidebar-menu">
                        <ul class="nav nav-pills nav-stacked affix menu animated fadeIn" data-spy="affix" data-offset-top="200" data-offset-top="200" data-offset-bottom="450">
                            <li><a href="#feature" class="smooth">呼和浩特市</a></li>
                            <li><a href="#content-box" class="smooth"><span class="badge pull-right">热门旅游区</span>通辽市</a></li>
                            <li><a href="#icon-box" class="smooth"><span class="badge pull-right">热门旅游区</span> 赤峰市</a></li>
                            <li><a href="#caption" class="smooth">巴彦淖尔市</a></li>
                            <li><a href="#light-box" class="smooth">乌兰察布市</a></li>
                        </ul>
                    </nav>
                </div> <!-- col -->

                <div class="col-md-9 col-sm-8">
                    <section id="components">

                        <article class="component-element" id="feature">
                            <h2 class="underline-title no-margin-top">呼和浩特市</h2>

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#example-feature" data-toggle="tab">五星级</a></li>
                                <li><a href="#html-feature" data-toggle="tab">四星级</a></li>
                                <li><a href="#wordpress-feature" data-toggle="tab">三星级</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="example-feature">

                                    <div class="row">
{%for a in m_1_1%}
                                        <div class="col-md-4">
                                            <div class="mind-features-item hover">
                                                <div class="item-icon">
                                                    <img src="/media/{{a.img}}" alt="pre" width="960" height="518" class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp" />
                                                </div>
                                                <div class="item-content">
                                                    <h3>{{a.name}}</h3>
                                                    <p>{{a.text}}</p>
                                                    <a href="#" class="btn btn-success pull-right">预定</a>
                                                </div>
                                            </div> <!-- mind-features-item -->
                                        </div>
{%endfor%}                                     
                                    </div>
                                </div>

                                <div class="tab-pane" id="html-feature">
                                <div class="row">
{%for b in m_1_2%}
                                        <div class="col-md-4">
                                            <div class="mind-features-item hover">
                                                <div class="item-icon">
                                                    <img src="/media/{{b.img}}" alt="pre" width="960" height="518" class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp" />
                                                </div>
                                                <div class="item-content">
                                                    <h3>{{b.name}}</h3>
                                                    <p>{{b.text}}</p>
                                                    <a href="#" class="btn btn-success pull-right">预定</a>
                                                </div>
                                            </div> <!-- mind-features-item -->
                                        </div>
{%endfor%}
                                   </div>
                                </div>


                                <div class="tab-pane" id="wordpress-feature">
                                <div class="row">
{%for c in m_1_3%}
                                        <div class="col-md-4">
                                            <div class="mind-features-item hover">
                                                <div class="item-icon">
                                                    <img src="/media/{{c.img}}" alt="pre" width="960" height="518" class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp" />
                                                </div>
                                                <div class="item-content">
                                                    <h3>{{c.name}}</h3>
                                                    <p>{{c.text}}</p>
                                                    <a href="#" class="btn btn-success pull-right">预定</a>
                                                </div>
                                            </div> <!-- mind-features-item -->
                                        </div>
{%endfor%}
                

                                </div>
                            </div> 
                        </article>

                         <article class="component-element" id="content-box">
                            <h2 class="underline-title no-margin-top">通辽市</h2>

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#example-feature1" data-toggle="tab">五星级</a></li>
                                <li><a href="#html-feature1" data-toggle="tab">四星级</a></li>
                                <li><a href="#wordpress-feature1" data-toggle="tab">三星级</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="example-feature1">
                                    <div class="row">

{%for d in m_2_1%}
                                        <div class="col-md-4">
                                            <div class="mind-features-item hover">
                                                <div class="item-icon">
                                                    <img src="/media/{{d.img}}" alt="pre" width="960" height="518" class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp" />
                                                </div>
                                                <div class="item-content">
                                                    <h3>{{d.name}}</h3>
                                                    <p>{{d.text}}</p>
                                                    <a href="#" class="btn btn-success pull-right">预定</a>
                                                </div>
                                            </div> <!-- mind-features-item -->
                                        </div>
{%endfor%}                                     
                                    </div>
                                </div>

                                <div class="tab-pane" id="html-feature1">
                                <div class="row">
{%for e in m_2_2%}
                                        <div class="col-md-4">
                                            <div class="mind-features-item hover">
                                                <div class="item-icon">
                                                    <img src="/media/{{e.img}}" alt="pre" width="960" height="518" class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp" />
                                                </div>
                                                <div class="item-content">
                                                    <h3>{{e.name}}</h3>
                                                    <p>{{e.text}}</p>
                                                    <a href="#" class="btn btn-success pull-right">预定</a>
                                                </div>
                                            </div> <!-- mind-features-item -->
                                        </div>
{%endfor%}
                                   </div>
                                </div>


                                <div class="tab-pane" id="wordpress-feature1">

                                <div class="row">
{%for f in m_2_3%}
                                        <div class="col-md-4">
                                            <div class="mind-features-item hover">
                                                <div class="item-icon">
                                                    <img src="/media/{{f.img}}" alt="pre" width="960" height="518" class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp" />
                                                </div>
                                                <div class="item-content">
                                                    <h3>{{f.name}}</h3>
                                                    <p>{{f.text}}</p>
                                                    <a href="#" class="btn btn-success pull-right">预定</a>
                                                </div>
                                            </div> <!-- mind-features-item -->
                                        </div>
{%endfor%}
                

                                </div>
                            </div> 
                        </article>

                        <article class="component-element" id="icon-box">
                            <h2 class="underline-title no-margin-top">赤峰市</h2>

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#example-feature2" data-toggle="tab">五星级</a></li>
                                <li><a href="#html-feature2" data-toggle="tab">四星级</a></li>
                                <li><a href="#wordpress-feature2" data-toggle="tab">三星级</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="example-feature2">
                                    <div class="row">
{%for g in m_3_1%}
                                        <div class="col-md-4">
                                            <div class="mind-features-item hover">
                                                <div class="item-icon">
                                                    <img src="/media/{{g.img}}" alt="pre" width="960" height="518" class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp" />
                                                </div>
                                                <div class="item-content">
                                                    <h3>{{g.name}}</h3>
                                                    <p>{{g.text}}</p>
                                                    <a href="#" class="btn btn-success pull-right">预定</a>
                                                </div>
                                            </div> <!-- mind-features-item -->
                                        </div>
{%endfor%}
                                    </div>
                                </div>

                                <div class="tab-pane" id="html-feature2">
                                <div class="row">
{%for h in m_3_2%}
                                        <div class="col-md-4">
                                            <div class="mind-features-item hover">
                                                <div class="item-icon">
                                                    <img src="/media/{{h.img}}" alt="pre" width="960" height="518" class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp" />
                                                </div>
                                                <div class="item-content">
                                                    <h3>{{h.name}}</h3>
                                                    <p>{{h.text}}</p>
                                                    <a href="#" class="btn btn-success pull-right">预定</a>
                                                </div>
                                            </div> <!-- mind-features-item -->
                                        </div>
{%endfor%}
                                   </div>
                                </div>


                                <div class="tab-pane" id="wordpress-feature2">
                                <div class="row">
{%for i in m_3_3%}
                                        <div class="col-md-4">
                                            <div class="mind-features-item hover">
                                                <div class="item-icon">
                                                    <img src="/media/{{i.img}}" alt="pre" width="960" height="518" class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp" />
                                                </div>
                                                <div class="item-content">
                                                    <h3>{{i.name}}</h3>
                                                    <p>{{i.text}}</p>
                                                    <a href="#" class="btn btn-success pull-right">预定</a>
                                                </div>
                                            </div> <!-- mind-features-item -->
                                        </div>
{%endfor%}
                                </div>
                            </div> 
                        </article>

                        <article class="component-element" id="caption">
                            <h2 class="underline-title no-margin-top">巴彦淖尔市</h2>

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#example-feature3" data-toggle="tab">五星级</a></li>
                                <li><a href="#html-feature3" data-toggle="tab">四星级</a></li>
                                <li><a href="#wordpress-feature3" data-toggle="tab">三星级</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="example-feature3">
                                    <div class="row">
{%for j in m_4_1%}
                                        <div class="col-md-4">
                                            <div class="mind-features-item hover">
                                                <div class="item-icon">
                                                    <img src="/media/{{j.img}}" alt="pre" width="960" height="518" class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp" />
                                                </div>
                                                <div class="item-content">
                                                    <h3>{{j.name}}</h3>
                                                    <p>{{j.text}}</p>
                                                    <a href="#" class="btn btn-success pull-right">预定</a>
                                                </div>
                                            </div> <!-- mind-features-item -->
                                        </div>
{%endfor%}
                                    </div>
                                </div>

                                <div class="tab-pane" id="html-feature3">
                                <div class="row">
{%for k in m_4_2%}
                                        <div class="col-md-4">
                                            <div class="mind-features-item hover">
                                                <div class="item-icon">
                                                    <img src="/media/{{k.img}}" alt="pre" width="960" height="518" class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp" />
                                                </div>
                                                <div class="item-content">
                                                    <h3>{{k.name}}</h3>
                                                    <p>{{k.text}}</p>
                                                    <a href="#" class="btn btn-success pull-right">预定</a>
                                                </div>
                                            </div> <!-- mind-features-item -->
                                        </div>
{%endfor%}
                                   </div>
                                </div>


                                <div class="tab-pane" id="wordpress-feature3">
                                <div class="row">
{%for l in m_4_3%}
                                        <div class="col-md-4">
                                            <div class="mind-features-item hover">
                                                <div class="item-icon">
                                                    <img src="/media/{{l.img}}" alt="pre" width="960" height="518" class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp" />
                                                </div>
                                                <div class="item-content">
                                                    <h3>{{l.name}}</h3>
                                                    <p>{{l.text}}</p>
                                                    <a href="#" class="btn btn-success pull-right">预定</a>
                                                </div>
                                            </div> <!-- mind-features-item -->
                                        </div>
{%endfor%}
                

                                </div>
                            </div> 
                        </article>

                        <article class="component-element" id="light-box">
                            <h2 class="underline-title no-margin-top">乌兰察布市</h2>

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#example-feature4" data-toggle="tab">五星级</a></li>
                                <li><a href="#html-feature4" data-toggle="tab">四星级</a></li>
                                <li><a href="#wordpress-feature4" data-toggle="tab">三星级</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="example-feature4">
                                    <div class="row">
{%for m in m_5_1%}
                                        <div class="col-md-4">
                                            <div class="mind-features-item hover">
                                                <div class="item-icon">
                                                    <img src="/media/{{m.img}}" alt="pre" width="960" height="518" class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp" />
                                                </div>
                                                <div class="item-content">
                                                    <h3>{{m.name}}</h3>
                                                    <p>{{m.text}}</p>
                                                    <a href="#" class="btn btn-success pull-right">预定</a>
                                                </div>
                                            </div> <!-- mind-features-item -->
                                        </div>
{%endfor%}
                                       
                                    </div>
                                </div>

                                <div class="tab-pane" id="html-feature4">
                                <div class="row">
{%for n in m_5_2%}
                                        <div class="col-md-4">
                                            <div class="mind-features-item hover">
                                                <div class="item-icon">
                                                    <img src="/media/{{n.img}}" alt="pre" width="960" height="518" class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp" />
                                                </div>
                                                <div class="item-content">
                                                    <h3>{{n.name}}</h3>
                                                    <p>{{n.text}}</p>
                                                    <a href="#" class="btn btn-success pull-right">预定</a>
                                                </div>
                                            </div> <!-- mind-features-item -->
                                        </div>
{%endfor%}
                                   </div>
                                </div>


                                <div class="tab-pane" id="wordpress-feature4">
                                <div class="row">
{%for o in m_5_3%}
                                        <div class="col-md-4">
                                            <div class="mind-features-item hover">
                                                <div class="item-icon">
                                                    <img src="/media/{{o.img}}" alt="pre" width="960" height="518" class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp" />
                                                </div>
                                                <div class="item-content">
                                                    <h3>{{o.name}}</h3>
                                                    <p>{{o.text}}</p>
                                                    <a href="#" class="btn btn-success pull-right">预定</a>
                                                </div>
                                            </div> <!-- mind-features-item -->
                                        </div>
{%endfor%}
                

                                </div>
                            </div> 
                        </article>

                       

                    </section>
                </div> <!-- col -->
            </div>
        </div> <!-- container -->
        
        <aside id="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="footer-widget-title">导航</h3>
                        <ul class="list-unstyled three_cols">
                            <li><a href="index">主    页</a></li>
                            <li><a href="Wkfeature">知名景点</a></li>
                            <li><a href="ydtindex">旅游团购</a></li>
                            <li><a href="index">--------</a></li>
                            <li><a href="Wkfeature">--------</a></li>
                            <li><a href="ydtindex">--------</a></li>
                            <li><a href="#">酒店预订</a></li>
                            <li><a href="Photo">游客相册</a></li>
                            <li><a href="testimonials">游客推荐</a></li>
                            <li><a href="#">--------</a></li>
                            <li><a href="Photo">--------</a></li>
                            <li><a href="testimonials">--------</a></li>
                        </ul>
                        <h3 class="footer-widget-title">关注我们</h3>
                        <p>如果您想随时了解旅游信息，掌握旅游动态，请把邮箱留给我们，我们会随时把最新消息发送给您。</p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="邮箱地址">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="button">订阅</button>
                            </span>
                        </div><!-- /input-group -->
                    </div>




                    <div class="col-md-4">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">最近动态</h3>

    {%for f in mzt%}
                            <div class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="/media/{{f.img}}" width="75" height="75" alt="image"></a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">{{f.text}}</a></h4>
                                    <small>{{f.date.year}}年{{f.date.month}}月{{f.date.day}}日</small>
                                </div>
                            </div>
    {%endfor%}  
                        </div>
                    </div>



                    <div class="col-md-4">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">友情链接</h3>
                            <div class="row">

     {%for z in links%}
                                <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                                    <a href="{{z.src}}" class="thumbnail"><img src="/media/{{z.img}}" class="img-responsive" alt="Image"></a>
                                </div>
    
    {%endfor%}
                            </div>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </aside> <!-- footer-widgets -->

        <footer id="footer">
            <p>&copy; 2015.2.10-- <a href="#">智普教育</a>，内蒙古欢迎您。</p>
        </footer>

    </div> <!-- boxed -->

    <div id="back-top">
        <a href="#header"><i class="fa fa-chevron-up"></i></a>
    </div>

    <!-- Scripts -->
    <script src="static/hotelE/js/jquery-1.10.2.min.js"></script>
    <script src="static/hotelE/js/jquery.cookie.js"></script>
    <script src="static/hotelE/js/bootstrap.min.js"></script>
    <script src="static/hotelE/js/jquery.mixitup.min.js"></script>
    <script src="static/hotelE/js/lightbox-2.6.min.js"></script>
    <script src="static/hotelE/js/holder.js"></script>
    <script src="static/hotelE/js/app.js"></script>
    <script src="static/hotelE/js/styleswitcher.js"></script>

    <script src="static/hotelE/js/syntax/shCore.js"></script>
    <script src="static/hotelE/js/syntax/shBrushXml.js"></script>
    <script src="static/hotelE/js/syntax/shBrushJScript.js"></script>

    <script type="text/javascript">
        SyntaxHighlighter.all()
    </script>
</body>

</html>
