<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>观光内蒙旅游网|内蒙古欢饮您</title>

    <!-- CSS -->
    <link href="static/index/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/index/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="static/index/css/animate.min.css" rel="stylesheet" media="screen">
    <link href="static/index/css/lightbox.css" rel="stylesheet" media="screen">
    <link href="static/index/css/syntax/shCore.css" rel="stylesheet"  media="screen">
    <link href="static/index/css/syntax/shThemeDefault.css" rel="stylesheet"  media="screen">

    <link href="static/index/css/style.css" rel="stylesheet" media="screen" title="default">
    <link href="static/index/css/color-niceblue.css" rel="stylesheet" media="screen" title="default">
    <link href="static/index/css/width-full.css" rel="stylesheet" media="screen" title="default">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Setting Options -->
    <div id="color-switcher" class="animated fadeIn animation-dalay-10">
        <div id="color-switcher-tab">
            <i class="fa fa-gear fa fa-2x"></i>
        </div>
        <div id="color-switcher-content">
            <h3>Color Selector</h3>
            <a href="#" rel="color-default.css" class="color default">default</a>
            <a href="#" rel="color-niceblue.css" class="color niceblue">niceblue</a>
            <a href="#" rel="color-intenseblue.css" class="color intenseblue">intenseblue</a>
            <a href="#" rel="color-otherblue.css" class="color otherblue">otherblue</a>
            <a href="#" rel="color-blue.css" class="color blue">blue</a>
            <a href="#" rel="color-puregreen.css" class="color puregreen">puregreen</a>
            <a href="#" rel="color-grassgreen.css" class="color grassgreen">grassgreen</a>
            <a href="#" rel="color-green.css" class="color green">green</a>        
            <a href="#" rel="color-olive.css" class="color olive">olive</a>
            <a href="#" rel="color-gold.css" class="color gold">gold</a>
            <a href="#" rel="color-orange.css" class="color orange">orange</a>
            <a href="#" rel="color-pink.css" class="color pink">pink</a>
            <a href="#" rel="color-fuchsia.css" class="color fuchsia">fuchsia</a>
            <a href="#" rel="color-violet.css" class="color violet">violet</a>
            <a href="#" rel="color-red.css" class="color red">red</a>
            

            <h3>Container Selector</h3>
            <div class="btn-group">
                <button href="#" class="option btn btn-sm btn-primary" rel="width-boxed.css">Boxed</button>
                <button href="#" class="option btn btn-sm btn-primary" rel="width-full.css">Full Width</button>
            </div>
        </div>
    </div> <!-- color-switcher -->

    <div class="boxed animated fadeIn animation-delay-5">

        <header id="header" class="hidden-xs">
            <div class="container">
                <div id="header-title">
                    <h1 class="animated fadeInDown"><a href="index.html">内蒙古<span>欢饮您</span></a></h1>
                    <p class="animated fadeInLeft">&nbsp&nbsp观光内蒙旅游网</p>
                </div>

                <div id="social-header" class="hidden-xs">
                    <a href="#" class="social-icon soc-twitter animated fadeInDown animation-delay-1"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="social-icon soc-google-plus animated fadeInDown animation-delay-2"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="social-icon soc-facebook animated fadeInDown animation-delay-3"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="social-icon soc-instagram animated fadeInDown animation-delay-4"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="social-icon soc-pinterest animated fadeInDown animation-delay-5"><i class="fa fa-pinterest"></i></a>
                    <a href="#" class="social-icon soc-linkedin animated fadeInDown animation-delay-6"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="social-icon soc-github animated fadeInDown animation-delay-7"><i class="fa fa-github"></i></a>
                </div>

                <div id="search-header" class="hidden-xs animated fadeInRight">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜索...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                            </span>
                    </div><!-- /input-group -->
                </div>
            </div> <!-- container -->
        </header> <!-- header -->

        <nav class="navbar navbar-static-top navbar-mind" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand visible-xs" href="index.html">Open <span>Mind</span></a>

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-mind-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-inverse"></i>
                    </button>
                </div>
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-mind-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#">主页</a></li>
                        <li><a href="Wkfeature">特色景观</a></li>
                        <li><a href="ydtindex">旅游团购</a></li>
                        <li><a href="hotel">酒店预订</a></li>
                    </ul> <!-- nav nabvar-nav -->

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">登入</a>
                            <div class="dropdown-menu dropdown-login animated fadeInUp">
                                <form role="form">
                                    <h4 class="section-title">登入</h4>
         
                                    <div class="form-group">
                                        <div class="input-group login-input">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input type="text" class="form-control" placeholder="账号">
                                        </div>
                                        <br>
                                        <div class="input-group login-input">
                                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                            <input type="password" class="form-control" placeholder="密码">
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> 记住我
                                            </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary pull-right">登入</button>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>      
                            </div>
                        </li> <!-- dropdown -->

                        <li>
                        <a href="register">注册</a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">我的信息</a>
                            <div class="dropdown-menu dropdown-profile animated fadeInUp">
                                <img src="media/img/照片.jpg" class="imageborder alignleft" alt="image"> 
                                <h4>小伙伴</h4>
                                18811505673<br>
                                <a href="profile.html">贺俊超</a> | <a href="#">张天成</a>

                            </div>
                        </li> <!-- dropdown -->
                    </ul> <!-- nav nabvar-nav -->
                </div><!-- navbar-collapse -->
            </div> <!-- container -->
        </nav> <!-- navbar navbar-default -->

        <section>
            <div id="carousel-example-generic" class="carousel carousel-mind slide" data-ride="carousel" data-interval="5000">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="container">
                            <div class="row">
    {%for a in a1%}
                                <div class="col-md-6 col-sm-7">
                                    <div class="carousel-caption">
                                        <div class="carousel-text">
                                           <h1 class="animated fadeInDownBig">{{a.name1}}</h1>
                                           <ul class="list-unstyled carousel-list">
                                               <li class="animated bounceInLeft"><i class="fa fa-code"></i><span>{{a.text11}}</span></li>
                                               <li class="animated bounceInLeft"><i class="fa fa-html5"></i><span>{{a.text12}}</span></li>
                                               <li class="animated bounceInLeft"><i class="fa fa-table"></i><span>{{a.text13}}</span></li>
                                           </ul>
                                       </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-5 hidden-xs carousel-img-wrap">
                                    <div class="carousel-img">
                                        <img src="/media/{{a.img1}}" class="img-responsive animated bounceInUp" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-8">
                                    <div class="carousel-caption">
                                        <div class="carousel-text">
                                           <h1 class="animated fadeInDownBig">{{a.name2}}</h1>
                                           <ul class="list-unstyled carousel-list">
                                               <li class="animated bounceInLeft"><i class="fa fa-eye"></i><span>{{a.text21}}</span></li>
                                               <li class="animated bounceInLeft"><i class="fa fa-th-large"></i><span>{{a.text22}}</span></li>
                                               <li class="animated bounceInLeft"><i class="fa fa-files-o"></i><span>{{a.text23}}</span></li>
                                           </ul>
                                       </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-4 hidden-xs carousel-img-wrap">
                                    <div class="carousel-img">
                                        <img src="/media/{{a.img2}}" class="img-responsive animated bounceInUp" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-7 col-sm-9">
                                    <div class="carousel-caption">
                                        <div class="carousel-text">
                                           <h1 class="animated fadeInDownBig">{{a.name3}}</h1>
                                           <ul class="list-unstyled carousel-list">
                                               <li class="animated bounceInLeft"><i class="fa fa-code"></i><span>{{a.text31}}</span></li>
                                               <li class="animated bounceInLeft"><i class="fa fa-files-o"></i><span>{{a.text32}}</span></li>
                                               <li class="animated bounceInLeft"><i class="fa fa-upload"></i><span>{{a.text33}}</span></li>
                                           </ul>
                                       </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-5 col-sm-3 hidden-xs carousel-img-wrap">
                                    <div class="carousel-img">
                                        <img src="/media/{{a.img3}}" class="img-responsive animated bounceInUp" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
    {%endfor%}
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </section> <!-- carousel -->

        <section id="mind-features">
            <div class="container">
                <div class="row">
    {%for m in visitor%}
                    <div class="col-md-3 col-sm-6">
                       <article class="mind-features-item hover animated bounceInLeft animation-delay-8">
                           <div class="item-icon">
                               <img src="/media/{{m.img}}" alt="pre" width="960" height="518" class="aligncenter size-full wp-image-72 img-responsive animated bounceInUp" />
                           </div>
                           <div class="item-content">
                               <h3>{{m.name}}</h3>
                               <p>{{m.text}}</p>
                               <a href="contact" class="btn btn-success pull-right">预定</a>
                           </div>
                       </article> <!-- mind-features-item -->
                   </div>
{%endfor%}
                </div>
            </div>
        </section>

        

        <section id="home-blog">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="section-title">Latest Posts</h2>
                    </div>
                    <div class="col-md-7">
                        <section class="home-post">
                            <a href="#" class="thumbnail"><img src="media/img/内蒙古大草原.jpg" class="img-responsive" alt="Image"></a>
                            <h4 class="home-post-title">
                            <p>内蒙古自治区简称蒙，省会为呼和浩特。位于中国北部边疆，西北紧邻蒙古和俄罗斯，面积118万平方公里。以蒙古族和汉族为主，还有朝鲜、回、满、达斡尔、鄂温克、鄂伦春等民族。全区分设9个辖地级市，3个盟；其下又辖12县级市、17县、49旗、3自治旗。包头市 、赤峰、乌兰浩特、乌兰察布、乌海、呼伦贝尔、通辽、鄂尔多斯等为自治区内主要城市。主要山脉有大兴安岭、贺兰山、乌拉山和大青山。东部草原辽阔，西部沙漠广布。年均气温-1～10℃，全年降水量约50～450毫米。已探明矿藏60余种，稀土、煤、银等储量巨大。</p>
                        </section>
                    </div>
                    <div class="col-md-5">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active">
                            <a href="#news" data-toggle="tab">热门景点</a></li>
                            <li><a href="#profile" data-toggle="tab">游客相册</a></li>
                            <li><a href="#messages" data-toggle="tab">游客推荐</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="news">

    {%for c in Climate%}
                                <div class="media">
                                    <a class="pull-left" href="#"><img class="media-object" src="/media/{{c.img}}" width="100" height="100" alt="image"></a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">{{c.title}}</a></h4>
                                        <p>{{c.text}}</p>
                                    </div>
                                </div>
                                
    {%endfor%}
                                <a href="visitor" class="btn btn-default pull-right">浏览更多</a>
                                <div class="clearfix"></div>
                            </div>



                            <div class="tab-pane" id="profile">

    {%for b in Places%}
                                <div class="media">
                                    <a class="pull-left" href="#"><img class="media-object" src="/media/{{b.img}}" width="100" height="100" alt="image"></a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">{{b.title}}</a></h4>
                                        <p>{{b.text}}</p>
                                    </div>
                                </div>
                
                                
    {%endfor%}                           
                                <a href="Photo" class="btn btn-default pull-right">浏览更多</a>
                                <div class="clearfix"></div>
                            </div>


                            <div class="tab-pane" id="messages">

    {%for e in Testimonials%}
                                <div class="media">
                                    <a class="pull-left" href="#"><img class="media-object" src="/media/{{e.img}}" width="100" height="100" alt="image"></a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">{{e.title}}</a></h4>
                                        <p>{{e.text}}</p>
                                    </div>
                                </div>
                                
    {%endfor%}
                                <a href="testimonials" class="btn btn-default pull-right">浏览更多</a>
                                <div class="clearfix"></div>
                            </div>

                           
                    </div>
                </div>
            </div> <!-- container -->
        </section>

        <section id="home-works">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="section-title text-center">知名景观</h2>
                    </div>
    {%for s in features%}
                    <div class="col-md-4 col-sm-6">
                        <div class="img-caption">
                            <img src="/media/{{s.img}}" class="img-responsive" alt="Image">
                            <div class="caption">
                                <div class="caption-content">
                                    <a href="fea-indexs" class="animated fadeInDown"><i class="fa fa-search"></i>{{s.title}}</a>
                                    <h4>{{s.name}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
    {%endfor%}
                    <div class="col-md-4 col-sm-6">
                        <div class="img-caption">
                            <img src="static/index/img/w2.jpg" class="img-responsive" alt="Image">
                            <div class="caption">
                                <div class="caption-content">
                                    <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                    <h4>Title Work</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="img-caption">
                            <img src="static/index/img/w3.jpg" class="img-responsive" alt="Image">
                            <div class="caption">
                                <div class="caption-content">
                                    <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                    <h4>Title Work</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        
                       <div class="img-caption">
                            <img src="static/index/img/w4.jpg" class="img-responsive" alt="Image">
                            <div class="caption">
                                <div class="caption-content">
                                    <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                    <h4>Title Work</h4>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="img-caption">
                            <img src="static/index/img/w5.jpg" class="img-responsive" alt="Image">
                            <div class="caption">
                                <div class="caption-content">
                                    <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                    <h4>Title Work</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="img-caption">
                            <img src="static/index/img/w6.jpg" class="img-responsive" alt="Image">
                            <div class="caption">
                                <div class="caption-content">
                                    <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                    <h4>Title Work</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>    


        

        <aside id="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="footer-widget-title">导航</h3>
                        <ul class="list-unstyled three_cols">
                            <li><a href="#">主    页</a></li>
                            <li><a href="Wkfeature">知名景点</a></li>
                            <li><a href="ydtindex">旅游团购</a></li>
                            <li><a href="#">--------</a></li>
                            <li><a href="Wkfeature">--------</a></li>
                            <li><a href="ydtindex">--------</a></li>
                            <li><a href="hotel">酒店预订</a></li>
                            <li><a href="Photo">游客相册</a></li>
                            <li><a href="testimonials">游客推荐</a></li>
                            <li><a href="hotel">--------</a></li>
                            <li><a href="Photo">--------</a></li>
                            <li><a href="testimonials">--------</a></li>
                        </ul>
                        <h3 class="footer-widget-title">关注我们</h3>
                        <p>如果您想随时了解旅游信息，掌握旅游动态，请把邮箱留给我们，我们会随时把最新消息发送给您。</p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="邮箱地址">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="button">订阅</button>
                            </span>
                        </div><!-- /input-group -->
                    </div>




                    <div class="col-md-4">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">最近动态</h3>

    {%for f in mzt%}
                            <div class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="/media/{{f.img}}" width="75" height="75" alt="image"></a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">{{f.text}}</a></h4>
                                    <small>{{f.date.year}}年{{f.date.month}}月{{f.date.day}}日</small>
                                </div>
                            </div>
    {%endfor%}  
                        </div>
                    </div>



                    <div class="col-md-4">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">友情链接</h3>
                            <div class="row">

    {%for z in links%}
                                <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                                    <a href="{{z.src}}" class="thumbnail"><img src="/media/{{z.img}}" class="img-responsive" alt="Image"></a>
                                </div>
    
    {%endfor%}
                            </div>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </aside> <!-- footer-widgets -->

        <footer id="footer">
            <p>&copy; 2015.2.10-- <a href="#">智普教育</a>，内蒙古欢迎您。</p>
        </footer>

    </div> <!-- boxed -->

    <div id="back-top">
        <a href="#header"><i class="fa fa-chevron-up"></i></a>
    </div>


    <!-- Scripts -->
    <script src="static/index/js/jquery-1.10.2.min.js"></script>
    <script src="static/index/js/jquery.cookie.js"></script>
    <script src="static/index/js/bootstrap.min.js"></script>
    <script src="static/index/js/jquery.mixitup.min.js"></script>
    <script src="static/index/js/lightbox-2.6.min.js"></script>
    <script src="static/index/js/holder.js"></script>
    <script src="static/index/js/app.js"></script>
    <script src="static/index/js/styleswitcher.js"></script>

    <script src="static/index/js/syntax/shCore.js"></script>
    <script src="static/index/js/syntax/shBrushXml.js"></script>
    <script src="static/index/js/syntax/shBrushJScript.js"></script>
    <script type="text/javascript">
        SyntaxHighlighter.all()
        window.location.refresh()
    </script>
</body>

</html>
