<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <title>回忆美好 分享快乐|内蒙古旅游网</title>

        <!--[if lt IE 9]>
        <script type="text/javascript" src="js/ie-fixes.js"></script>
        <link rel="stylesheet" href="css/ie-fixes.css">
        <![endif]-->

        <meta name="description" content="Kanzi HTML5 Template">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--- This should placed first off all other scripts -->

       



        <link rel="stylesheet" href="static/photosE/css/revolution_settings.css">
        <link rel="stylesheet" href="static/photosE/css/bootstrap.css">
        <link rel="stylesheet" href="static/photosE/css/font-awesome.css">
        <link rel="stylesheet" href="static/photosE/css/axfont.css">
        <link rel="stylesheet" href="static/photosE/css/tipsy.css">
        <link rel="stylesheet" href="static/photosE/css/prettyPhoto.css">
        <link rel="stylesheet" href="static/photosE/css/isotop_animation.css">
        <link rel="stylesheet" href="static/photosE/css/animate.css">



        <!-- remprod -->
        <link rel="stylesheet" href="static/photosE/css/_colorpicker.css">
        <!-- end remprod -->

        <link href='static/photosE/css/style1.css' rel='stylesheet' type='text/css'> 
        <link href='static/photosE/css/responsive.css' rel='stylesheet' type='text/css'>

        <link href="static/photosE/css/skins/light-blue.css" rel='stylesheet' type='text/css' id="skin-file">

        <!-- remprod -->
        <style type="text/css" id="skin-chooser-css">

        </style>
        <!-- end remprod -->

        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600' rel='stylesheet' type='text/css'>

        <!--[if lt IE 9]>
        <script type="text/javascript" src="js/respond.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="static/photosE/css/color-chooser.css">



         <!--index-->
        <link href="static/indexE/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="static/indexE/css/style.css" rel="stylesheet" media="screen">
        <link href="static/indexE/css/color-niceblue.css" rel="stylesheet" media="screen" title="default">




        <!--index-->
    </head>
    <body>

        <section>
        <div id="color-switcher" class="animated fadeIn animation-dalay-10">
        <div id="color-switcher-tab">
            <i class="fa fa-gear fa fa-2x"></i>
        </div>
        <div id="color-switcher-content">
            <h3>Color Selector</h3>
            <a href="#" rel="color-default.css" class="color default">default</a>
            <a href="#" rel="color-niceblue.css" class="color niceblue">niceblue</a>
            <a href="#" rel="color-intenseblue.css" class="color intenseblue">intenseblue</a>
            <a href="#" rel="color-otherblue.css" class="color otherblue">otherblue</a>
            <a href="#" rel="color-blue.css" class="color blue">blue</a>
            <a href="#" rel="color-puregreen.css" class="color puregreen">puregreen</a>
            <a href="#" rel="color-grassgreen.css" class="color grassgreen">grassgreen</a>
            <a href="#" rel="color-green.css" class="color green">green</a>        
            <a href="#" rel="color-olive.css" class="color olive">olive</a>
            <a href="#" rel="color-gold.css" class="color gold">gold</a>
            <a href="#" rel="color-orange.css" class="color orange">orange</a>
            <a href="#" rel="color-pink.css" class="color pink">pink</a>
            <a href="#" rel="color-fuchsia.css" class="color fuchsia">fuchsia</a>
            <a href="#" rel="color-violet.css" class="color violet">violet</a>
            <a href="#" rel="color-red.css" class="color red">red</a>
            

            <h3>Container Selector</h3>
            <div class="btn-group">
                <button href="#" class="option btn btn-sm btn-primary" rel="width-boxed.css">Boxed</button>
                <button href="#" class="option btn btn-sm btn-primary" rel="width-full.css">Full Width</button>
            </div>
        </div>
    </div> <!-- color-switcher -->


           <header id="header" class="hidden-xs">
            <div class="container">
                <div id="header-title">
                    <h1 class="animated fadeInDown"><a href="index.html">内蒙古<span>欢饮您</span></a></h1>
                    <p class="animated fadeInLeft">&nbsp&nbsp观光内蒙旅游网</p>
                </div>

                <div id="social-header" class="hidden-xs">
                    <a href="#" class="social-icon soc-twitter animated fadeInDown animation-delay-1"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="social-icon soc-google-plus animated fadeInDown animation-delay-2"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="social-icon soc-facebook animated fadeInDown animation-delay-3"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="social-icon soc-instagram animated fadeInDown animation-delay-4"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="social-icon soc-pinterest animated fadeInDown animation-delay-5"><i class="fa fa-pinterest"></i></a>
                    <a href="#" class="social-icon soc-linkedin animated fadeInDown animation-delay-6"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="social-icon soc-github animated fadeInDown animation-delay-7"><i class="fa fa-github"></i></a>
                </div>

                <div id="search-header" class="hidden-xs animated fadeInRight">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                            </span>
                    </div><!-- /input-group -->
                </div>
            </div> <!-- container -->





        </header>
        <nav class="navbar navbar-static-top navbar-mind" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand visible-xs" href="index.html">Open <span>Mind</span></a>

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-mind-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-inverse"></i>
                    </button>
                </div>
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-mind-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="index">主页</a></li>
                        <li><a href="Wkfeature">特色景观</a></li>
                        <li><a href="ydtindex">旅游团购</a></li>
                        <li><a href="hotel">酒店预订</a></li>
                    </ul> <!-- nav nabvar-nav -->

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">登入</a>
                            <div class="dropdown-menu dropdown-login animated fadeInUp">
                                <form role="form">
                                    <h4 class="section-title">登入</h4>
         
                                    <div class="form-group">
                                        <div class="input-group login-input">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input type="text" class="form-control" placeholder="账号">
                                        </div>
                                        <br>
                                        <div class="input-group login-input">
                                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                            <input type="password" class="form-control" placeholder="密码">
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> 记住我
                                            </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary pull-right">登入</button>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>      
                            </div>
                        </li> <!-- dropdown -->

                        <li>
                        <a href="register">注册</a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">我的信息</a>
                            <div class="dropdown-menu dropdown-profile animated fadeInUp">
                                <img src="static/index/img/avatar.jpg" class="imageborder alignleft" alt="image"> 
                                <h4>Administrator</h4>
                                admin@openmind.com<br>
                                <a href="profile.html">Profile</a> | <a href="#">Logout</a>

                            </div>
                        </li> <!-- dropdown -->
                    </ul> <!-- nav nabvar-nav -->
                </div><!-- navbar-collapse -->
            </div> <!-- container -->
        </nav>

        </section>

        <!-- remprod -->
        <script type="text/x-handlebars-template" id="css-skin">


            /* Loading */
            .double-bounce1, .double-bounce2{
            background-color: {{skin_color_rgba}};

            }

            /* Navigation */
            .navigation > li:hover > a,.navigation > li > a:hover,
            .navigation > li > .activelink,.navigation > li:hover > a > i, .navigation > li > a:hover > span.label-nav-sub::before, .navigation > li > a:focus > span.label-nav-sub::before{
            color: {{skin_color}};
            }
            .mobile-menu-button, .mobile-nav, .slider-fixed-container{   
            background-color: {{skin_color}};    
            }

            .navigation > li > a:after, .navigation>li>.activelink:after{
            background-color: {{skin_color}};
            }
            .navigation>li:hover > a > span.label-nav-sub::before,.navigation>li:hover> a > span.label-nav-sub::before{
            color: {{skin_color}};
            }


            /* Page Content Colors */
            .body-wrapper a:hover , .tab a:hover, accordion .title:hover, .top-body a:hover, .bottom-body a:hover
            ,.accordion .active h4, .accordion .title:hover h4, .side-navigation .menu-item.current-menu-item a, .side-navigation .menu-item:hover a:after,
            .side-navigation .menu-item:hover a, a.tool-tip, .team-member .team-member-position, .team-member-progress .team-member-position, .item-img-overlay i
            ,ul.icon-content-list-container li.icon-content-single .icon-box i,.item-img-overlay .portfolio-zoom:hover, .navigation ul li:hover>a, .blog_post_quote:after,
            .item-img-overlay .portfolio-zoom, body .white-text .feature-details a:hover{
            color: {{skin_color}};
            }
            ::selection
            {
            background-color:{{skin_color}};
            }
            ::-moz-selection
            {
            background-color:{{skin_color}};
            }
            .item-img-overlay  .portfolio-zoom:hover, .tab a.active {
            color: {{skin_color}} !important;
            }
            .callout-box{
            border-left-color: {{skin_color}}
            }
            .feature .feature-content,.team-member .team-member-content{
            border-top-color: {{skin_color}};
            }

            .progress .progress-bar{
            background-color: {{skin_color}};
            }
            .blog-masonry .blog_post_quote{
            border-top: 2px solid {{skin_color}};
            }
            .tab a.active:after {
            background-color:{{skin_color}};
            border-color: {{skin_color}};
            }
            .blog-post .blog-post-type,.subscribe-button{
            background: {{skin_color}};
            }
            .blog-post-details-item.blog-post-details-item-right a:hover i,.blog_post_quote .quote-author,.pagination > li > a.prev, 
            .pagination > li > a.next, .pagination > li > a:hover, .pagination > li > a.current,.testimonial-by-name{
            color: {{skin_color}};
            }
            .skin-text{
            color: {{skin_color}} !important;
            }
            body .section-content.section-image{
            background-color: {{skin_color_rgba}};
            }

            .item-img-overlay .item_img_overlay_content{
            background: {{skin_color}};
            }
            .button, .body-wrapper input[type="submit"], .body-wrapper input[type="button"], .section-content.section-color-bg,.content-box.content-style4 h4 i
            ,button.button-main,.body-wrapper .tags a:hover,.callout-box.callout-box2, .blog-search .blog-search-button, .top-title-wrapper, .testimonial-big,
            .content-style3:hover .content-style3-icon, table.table thead tr, .price-table .price-label-badge, .price-table .price-table-header, .section-subscribe .subscribe-button.icon-envelope-alt{
            background-color: {{skin_color}};
            }
            .rev-slider-full .button.btn-flat, .rev-slider-fixed .button.btn-flat{
            background-color: {{skin_color}};
            }
            .btn, input[type="submit"], input[type="button"], button.btn,.btn-primary{
            background-color: {{skin_color}};
            }
            .btn:hover, input[type="submit"]:hover, input[type="button"]:hover, button.btn:hover,.btn-primary:hover{
            background-color: {{skin_color}};

            }
            .btn:focus, input[type="submit"]:focus, input[type="button"]:focus, button.btn:focus,.btn-primary:focus{
            background-color: {{skin_color}};
            }
            .blog-post-icon,.comments-list .children .comment:before,.portfolio-filter li a.portfolio-selected, 
            .portfolio-filter li a:hover, .dropcaps.dropcaps-color-style, .carousel-container .carousel-icon:hover,
            .team-member-image.img-overlay .item_img_overlay_content{
            background-color: {{skin_color}};
            }
            .comments-list .children .comment:after{
            border-color: transparent transparent transparent {{skin_color}};;
            }

            .highlighted-text{
            background-color: {{skin_color}};
            color: #ffffff;
            }
            .icons-list.colored-list li:before, .blog-post-date .day, .blog-post-date .month, strong.colored, span.colored 
            ,.content-style3 .content-style3-icon, .content-box h4 i{
            color: {{skin_color}};
            }
            .content-box.content-style2 h4 i,.content-box.style5 h4 i{
            border-color: {{skin_color}};
            color: {{skin_color}};
            }
            .content-box.content-style2:hover i,.content-box.style5:hover i{
            background-color: {{skin_color}};
            }
            .pagination .prev, .pagination .next, .pagination a:hover, .pagination a.current, .price-table .price-label{
            color: {{skin_color}};
            }


            /* Footer Area Colors */

            .footer .copyright{
            border-color: {{skin_color}};
            }

            .flickr_badge_wrapper .flickr_badge_image img:hover{
            border-color: {{skin_color}};
            }


        </script>

        <script type="text/javascript"> var $default_skin = "light-blue";</script><div id="skin-chooser-container" class="skin-chooser-container hide-skin-chooser">
            <a href="" target="_blank" class="skin-save" id="skin-save"><i class="icon-arrow-down"></i> DOWNLOAD NEW SKIN </a>
            <div class="skin-chooser">

                <div class="skin-chooser-label">
                    Layout mode
                </div>
                <div class="skin-chooser-row skin-chooser-row-open">
                    <select id="layout-mode">
                        <option value="">Wide</option>
                        <option value="boxed">Boxed</option>
                    </select>
                </div>
                <div class="skin-chooser-label">
                    Predefined Skins
                </div>
                <div class="skin-chooser-row skin-chooser-row-open">
                    <div title="light-blue" class="predefined-skins light-blue" data-skinname="light-blue" style="background-color: #279FBB"></div>
                    <div title="green" class="predefined-skins green" data-skinname="green" style="background-color: #26ae91"></div>
                    <div title="red" class="predefined-skins red" data-skinname="red" style="background-color: #d14836"></div>
                    <div title="pink" class="predefined-skins pink" data-skinname="pink" style="background-color: #bb3b6b"></div>
                    <div title="light-purple" class="predefined-skins light-purple" data-skinname="light-purple" style="background-color: #bba6bb"></div>
                    <div title="orange" class="predefined-skins orange" data-skinname="orange" style="background-color: #dd6153"></div>
                    <div title="bright-green" class="predefined-skins bright-green" data-skinname="bright-green" style="background-color: #8cbb75"></div>
                    <div title="dark-blue" class="predefined-skins dark-blue" data-skinname="dark-blue" style="background-color: #2580b1"></div>
                    <div title="oil" class="predefined-skins oil" data-skinname="oil" style="background-color: #9b9e40"></div>
                    <div title="black" class="predefined-skins black" data-skinname="black" style="background-color: #5f5d5c"></div>
                    <div title="light-brown" class="predefined-skins light-brown" data-skinname="light-brown" style="background-color: #d06f71"></div>
                    <div title="coffee" class="predefined-skins coffee" data-skinname="coffee" style="background-color: #9d634c"></div>
                </div>

                <div class="skin-chooser-label">
                    Custom Colors
                </div>

                <div class="skin-chooser-row skin-chooser-row-open">
                    <div class="skin-chooser-elements">
                        <div class="color-chooser-group-label">
                            <i class="icon-angle-right"></i> Choose your skin color                    </div>
                        <div class="color-chooser-input">
                            <input type="text" name="skin_color" id="skin_color" class="input-colorpicker"
                                   value="#279FBB"/>
                            <label class="color-preview" for="skin_color"
                                   style="background-color: #279FBB"></label>
                        </div>
                    </div>
                </div>
                <div class="skin-chooser-label">
                    Patterns Background
                </div>

                <div class="skin-chooser-row skin-chooser-row-open">
                    <div class="pattern pattern-black-twill" data-body-class="bgpattern-black-twill"></div>
                    <div class="pattern pattern-dark-fish-skin" data-body-class="bgpattern-dark-fish-skin"></div>
                    <div class="pattern pattern-escheresque-ste" data-body-class="bgpattern-escheresque-ste"></div>
                    <div class="pattern pattern-grey" data-body-class="bgpattern-grey"></div>
                    <div class="pattern pattern-knitting250px" data-body-class="bgpattern-knitting250px"></div>
                    <div class="pattern pattern-p4" data-body-class="bgpattern-p4"></div>
                    <div class="pattern pattern-p5" data-body-class="bgpattern-p5"></div>
                    <div class="pattern pattern-p6" data-body-class="bgpattern-p6"></div>
                    <div class="pattern pattern-ps-neutral" data-body-class="bgpattern-ps-neutral"></div>
                    <div class="pattern pattern-pw-maze-white" data-body-class="bgpattern-pw-maze-white"></div>
                    <div class="pattern pattern-pw-pattern" data-body-class="bgpattern-pw-pattern"></div>
                    <div class="pattern pattern-retina-wood" data-body-class="bgpattern-retina-wood"></div>
                    <div class="pattern pattern-shattered" data-body-class="bgpattern-shattered"></div>
                    <div class="pattern pattern-subtle-dots" data-body-class="bgpattern-subtle-dots"></div>
                    <div class="pattern pattern-subtle-surface" data-body-class="bgpattern-subtle-surface"></div>
                    <div class="pattern pattern-whitediamond" data-body-class="bgpattern-whitediamond"></div>
                </div>

                <div class="skin-chooser-label">
                    Images Background
                </div>
                <div class="skin-chooser-row skin-chooser-row-open">
                    <div class="image-chooser tuscany-thumb" data-body-class="bg-tuscany"></div>
                    <div class="image-chooser tracks-thumb" data-body-class="bg-tracks"></div>
                    <div class="image-chooser blurred-lines-thumb" data-body-class="bg-blurred-lines"></div>
                    <div class="image-chooser mountain-thumb" data-body-class="bg-mountain"></div>
                </div>



            </div>
            <a href="#" class="arrow-left  icon-settings" id="show_hide_skin_chooser"></a>

        </div>
        <!-- end remprod -->
               
              
            <div class="loading-container">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>


            <div class="content-wrapper hide-until-loading">

                <div class="body-wrapper">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 animated" data-animtype="flipInY"
                                 data-animrepeat="0"
                                 data-speed="1s"
                                 data-delay="0.5s">
                                <h2 class="h2-section-title">回忆美好 分享快乐</h2>

                                <div class="i-section-title">
                                    <i class="icon-files">

                                    </i>
                                </div>

                                <div class="space-sep20"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="portfolio-items">

                                    <!-- Portfolio Item -->
     {%for a in picture%}
                                    <div class="thumb-label-item animated web-design"
                                         data-animtype="fadeInUp"
                                         data-animrepeat="0"
                                         data-speed="1s"
                                         data-delay="0.6s">
                                        <div class="img-overlay thumb-label-item-img">
                                            <img
                                                src="/media/{{a.img1}}"
                                                alt=""/>

                                            <div class="item-img-overlay">
                                                <a class="portfolio-zoom fa fa-plus"
                                                   href="/media/{{a.img2}}"
                                                   data-rel="prettyPhoto[portfolio]" title="{{a.place}}"></a>

                                                <div class="item_img_overlay_content">
                                                    <h3 class="thumb-label-item-title">
                                                        <a href="">{{a.visitor}}</a>
                                                    </h3>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
    {%endfor%}
                                  
                                </div>
                            </div>
                        </div>

                    </div>

        <aside id="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="footer-widget-title">导航</h3>
                        <ul class="list-unstyled three_cols">
                            <li><a href="index">主    页</a></li>
                            <li><a href="Wkfeature">知名景点</a></li>
                            <li><a href="ydtindex">旅游团购</a></li>
                            <li><a href="index">--------</a></li>
                            <li><a href="Wkfeature">--------</a></li>
                            <li><a href="ydtindex">--------</a></li>
                            <li><a href="hotel">酒店预订</a></li>
                            <li><a href="#">游客相册</a></li>
                            <li><a href="testimonials">游客推荐</a></li>
                            <li><a href="hotel">--------</a></li>
                            <li><a href="#">--------</a></li>
                            <li><a href="testimonials">--------</a></li>
                        </ul>
                        <h3 class="footer-widget-title">关注我们</h3>
                        <p>如果您想随时了解旅游信息，掌握旅游动态，请把邮箱留给我们，我们会随时把最新消息发送给您。</p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="邮箱地址">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="button">订阅</button>
                            </span>
                        </div><!-- /input-group -->
                    </div>




                    <div class="col-md-4">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">最近动态</h3>

    {%for f in mzt%}
                            <div class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="/media/img/20140618-e5192f1f101aa4bb_550x1300_g0lVKuF.jpg" width="75" height="75" alt="image"></a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">{{f.text}}</a></h4>
                                    <small>{{f.date.year}}年{{f.date.month}}月{{f.date.day}}日</small>
                                </div>
                            </div>
    
    {%endfor%}
      
                        </div>
                    </div>



                    <div class="col-md-4">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">友情链接</h3>
                            <div class="row">

    {%for z in links%}
                                <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                                    <a href="{{z.src}}" class="thumbnail"><img src="/media/{{z.img}}" class="img-responsive" alt="Image"></a>
                                </div>
    {%endfor%}
    
                            </div>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </aside>
        <footer id="footer">
            <p>© 2015.2.10-- <a href="#">智普教育</a>，内蒙古欢迎您。</p>
        </footer>

    <div id="back-top" style="display: block;">
        <a href="#header"><i class="fa fa-chevron-up"></i></a>
    </div>

        

                   

        </div><!-- wrapper end -->

        <script type="text/javascript" src="static/photosE/js/_jq.js"></script>

        <script type="text/javascript" src="static/photosE/js/_jquery.placeholder.js"></script>

        <!-- remprod -->
        <script type="text/javascript" src="static/photosE/js/_colorpicker.js"></script>
        <script type="text/javascript" src="static/photosE/js/_handlebars.js"></script>
        <script type="text/javascript" src="static/photosE/js/_skins.js"></script>
        <script type="text/javascript" src="static/photosE/js/_skinchooser.js"></script>
        <!-- end remprod -->


        <!-- online -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-43664425-1', 'activeaxon.com');
            ga('send', 'pageview');

        </script>
        <!-- end online -->

        <script src="static/photosE/js/activeaxon_menu.js" type="text/javascript"></script> 
        <script src="static/photosE/js/animationEnigne.js" type="text/javascript"></script> 
        <script src="static/photosE/js/bootstrap.min.js" type="text/javascript"></script> 
        <script src="static/photosE/js/ie-fixes.js" type="text/javascript"></script> 
        <script src="static/photosE/js/jq.appear.js" type="text/javascript"></script> 
        <script src="static/photosE/js/jquery.base64.js" type="text/javascript"></script> 
        <script src="static/photosE/js/jquery.carouFredSel-6.2.1-packed.js" type="text/javascript"></script> 
        <script src="static/photosE/js/jquery.cycle.js" type="text/javascript"></script> 
        <script src="static/photosE/js/jquery.cycle2.carousel.js" type="text/javascript"></script> 
        <script src="static/photosE/js/jquery.easing.1.3.js" type="text/javascript"></script> 
        <script src="static/photosE/js/jquery.easytabs.js" type="text/javascript"></script> 
        <script src="static/photosE/js/jquery.infinitescroll.js" type="text/javascript"></script> 
        <script src="static/photosE/js/jquery.isotope.js" type="text/javascript"></script> 
        <script src="static/photosE/js/jquery.prettyPhoto.js" type="text/javascript"></script> 
        <script src="static/photosE/js/jQuery.scrollPoint.js" type="text/javascript"></script> 
        <script src="static/photosE/js/jquery.themepunch.plugins.min.js" type="text/javascript"></script> 
        <script src="static/photosE/js/jquery.themepunch.revolution.js" type="text/javascript"></script> 
        <script src="static/photosE/js/jquery.tipsy.js" type="text/javascript"></script> 
        <script src="static/photosE/js/jquery.validate.js" type="text/javascript"></script> 
        <script src="static/photosE/js/jQuery.XDomainRequest.js" type="text/javascript"></script> 
        <script src="static/photosE/js/kanzi.js" type="text/javascript"></script> 
        <script src="static/photosE/js/retina.js" type="text/javascript"></script> 

</html>
