
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>游客推荐|内蒙古欢迎您|观光内蒙旅游网</title>

    <!-- CSS -->
    <link href="static/TestimonialsE/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/TestimonialsE/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="static/TestimonialsE/css/animate.min.css" rel="stylesheet" media="screen">
    <link href="static/TestimonialsE/css/lightbox.css" rel="stylesheet" media="screen">
    <link href="static/TestimonialsE/css/syntax/shCore.css" rel="stylesheet"  media="screen">
    <link href="static/TestimonialsE/css/syntax/shThemeDefault.css" rel="stylesheet"  media="screen">

    
    <link href="static/TestimonialsE/css/style.css" rel="stylesheet" media="screen" title="default">
    <link href="static/TestimonialsE/css/color-niceblue.css" rel="stylesheet" media="screen" title="default">
    <link href="static/TestimonialsE/css/width-full.css" rel="stylesheet" media="screen" title="default">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="static/TestimonialsE/js/html5shiv.js"></script>
        <script src="static/TestimonialsE/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

 
    <!-- Setting Options -->
    <div id="color-switcher" class="animated fadeIn animation-dalay-10">
        <div id="color-switcher-tab">
            <i class="fa fa-gear fa fa-2x"></i>
        </div>
        <div id="color-switcher-content">
            <h3>Color Selector</h3>
            <a href="#" rel="color-default.css" class="color default">default</a>
            <a href="#" rel="color-niceblue.css" class="color niceblue">niceblue</a>
            <a href="#" rel="color-intenseblue.css" class="color intenseblue">intenseblue</a>
            <a href="#" rel="color-otherblue.css" class="color otherblue">otherblue</a>
            <a href="#" rel="color-blue.css" class="color blue">blue</a>
            <a href="#" rel="color-puregreen.css" class="color puregreen">puregreen</a>
            <a href="#" rel="color-grassgreen.css" class="color grassgreen">grassgreen</a>
            <a href="#" rel="color-green.css" class="color green">green</a>        
            <a href="#" rel="color-olive.css" class="color olive">olive</a>
            <a href="#" rel="color-gold.css" class="color gold">gold</a>
            <a href="#" rel="color-orange.css" class="color orange">orange</a>
            <a href="#" rel="color-pink.css" class="color pink">pink</a>
            <a href="#" rel="color-fuchsia.css" class="color fuchsia">fuchsia</a>
            <a href="#" rel="color-violet.css" class="color violet">violet</a>
            <a href="#" rel="color-red.css" class="color red">red</a>
            

            <h3>Container Selector</h3>
            <div class="btn-group">
                <button href="#" class="option btn btn-sm btn-primary" rel="width-boxed.css">Boxed</button>
                <button href="#" class="option btn btn-sm btn-primary" rel="width-full.css">Full Width</button>
            </div>
        </div>
    </div> <!-- color-switcher -->

    <div class="boxed animated fadeIn animation-delay-5">

        <header id="header" class="hidden-xs">
            <div class="container">
                <div id="header-title">
                    <h1 class="animated fadeInDown"><a href="index.html">内蒙古<span>欢饮您</span></a></h1>
                    <p class="animated fadeInLeft">&nbsp&nbsp观光内蒙旅游网</p>
                </div>

                <div id="social-header" class="hidden-xs">
                    <a href="#" class="social-icon soc-twitter animated fadeInDown animation-delay-1"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="social-icon soc-google-plus animated fadeInDown animation-delay-2"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="social-icon soc-facebook animated fadeInDown animation-delay-3"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="social-icon soc-instagram animated fadeInDown animation-delay-4"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="social-icon soc-pinterest animated fadeInDown animation-delay-5"><i class="fa fa-pinterest"></i></a>
                    <a href="#" class="social-icon soc-linkedin animated fadeInDown animation-delay-6"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="social-icon soc-github animated fadeInDown animation-delay-7"><i class="fa fa-github"></i></a>
                </div>

                <div id="search-header" class="hidden-xs animated fadeInRight">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                            </span>
                    </div><!-- /input-group -->
                </div>
            </div> <!-- container -->
        </header> <!-- header -->

        <nav class="navbar navbar-static-top navbar-mind" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand visible-xs" href="index.html">Open <span>Mind</span></a>

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-mind-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-inverse"></i>
                    </button>
                </div>
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-mind-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="index">主页</a></li>
                        <li><a href="Wkfeature">特色景观</a></li>
                        <li><a href="ydtindex">旅游团购</a></li>
                        <li><a href="hotel">酒店预订</a></li>
                    </ul> <!-- nav nabvar-nav -->

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">登入</a>
                            <div class="dropdown-menu dropdown-login animated fadeInUp">
                                <form role="form">
                                    <h4 class="section-title">登入</h4>
         
                                    <div class="form-group">
                                        <div class="input-group login-input">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input type="text" class="form-control" placeholder="账号">
                                        </div>
                                        <br>
                                        <div class="input-group login-input">
                                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                            <input type="password" class="form-control" placeholder="密码">
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> 记住我
                                            </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary pull-right">登入</button>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>      
                            </div>
                        </li> <!-- dropdown -->

                        <li>
                        <a href="register">注册</a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">我的信息</a>
                            <div class="dropdown-menu dropdown-profile animated fadeInUp">
                                <img src="static/index/img/avatar.jpg" class="imageborder alignleft" alt="image"> 
                                <h4>Administrator</h4>
                                admin@openmind.com<br>
                                <a href="profile.html">Profile</a> | <a href="#">Logout</a>

                            </div>
                        </li> <!-- dropdown -->
                    </ul> <!-- nav nabvar-nav -->
                </div><!-- navbar-collapse -->
            </div> <!-- container -->
        </nav> <!-- navbar navbar-default -->

        <header class="wrap-title">
            <div class="container">
                <h1 class="page-title">游客推荐</h1>

                <ol class="breadcrumb hidden-xs">
                    <li><a href="index">主页</a></li>
                    <li class="active">游客推荐</li>
                </ol>
            </div>
        </header>
          
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <section>
                        <h3 class="post-title">本站每周会对游客提交的数据进行筛选，选去出每周游客推荐最多的前几名展示出来，供大家参考。</h3>
                        <img src="static/TestimonialsE/img/7.jpg" class="img-responsive imageborder" alt="Image">
                        
                    </section>
                    <section>
                        <h2  class="post-title">游客推荐热门榜</h2>
                        <ul class="list-unstyled">
                            <li class="comment">

                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <img src="js/holder.js/100x100/sky/text:avatar" alt="" class="imageborder alignleft">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fruuntur timorem maiores. Efficiatur calere labefactant impendere praesidia ullius, necesse graecis refugiendi angusta, nescius augeri monstruosi ornatum provincias. Iucundum dolemus iucundius cruciantur affert inflammati circumcisaque certae, privatione epularum tollunt videre reliquaque maiestatis veserim inflammati vituperari memoriter.</p>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-lg-10 col-md-9 col-sm-8">
                                                <i class="fa fa-user"> </i> <a href="#">Patrick</a> <i class="fa fa-clock-o"></i> Sep 29, 2013
                                            </div>
                                            <div class="col-lg-2 col-md-3 col-sm-4">
                                                <a href="#" class="pull-right">Reply</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <img src="js/holder.js/100x100/sky/text:avatar" alt="" class="imageborder alignleft">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fruuntur timorem maiores. Efficiatur calere labefactant impendere praesidia ullius, necesse graecis refugiendi angusta, nescius augeri monstruosi ornatum provincias. Iucundum dolemus iucundius cruciantur affert inflammati circumcisaque certae, privatione epularum tollunt videre reliquaque maiestatis veserim inflammati vituperari memoriter.</p>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-lg-10 col-md-9 col-sm-8">
                                                <i class="fa fa-user"> </i> <a href="#">Patrick</a> <i class="fa fa-clock-o"></i> Sep 29, 2013
                                            </div>
                                            <div class="col-lg-2 col-md-3 col-sm-4">
                                                <a href="#" class="pull-right">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                       



                            </li>
                                    
                           
                        
                            
                        </ul>
                    </section> <!-- comments -->

                    <section class="comment-form">
                    <form action="/new" method="POST">

                        <h2  class="post-title">我的推荐</h2>
                        <form action="/Testimonial" method="POST" role="form">
                            {%csrf_token%}
                            <div class="form-group">
                                <label for="inputName">景区名字</label>
                                <input type="email" class="form-control" id="inputName"  name="name" placeholder="景区、景点等">
                            </div>
                            <div class="form-group">
                                <label for="inputEmail">联系邮箱</label>
                                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="example@example.com">
                            </div>
                            <div class="form-group">
                                <label for="inputMessage">推荐理由</label>
                                <textarea class="form-control"  id="inputMessage"  name="reason" rows="6"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">我要推荐</button>
                        </form>
                    </section> <!-- comment-form -->
                </div>
                <div class="col-md-4">
                    <aside class="sidebar">
                        <div class="block">
                            <div class="input-group">
                              <input type="text" placeholder="搜索..." class="form-control">
                              <span class="input-group-btn">
                                <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                              </span>
                            </div><!-- /input-group -->
                        </div>

                        <div class="block">
                           
                            <div class="tab-content">
                                <div class="tab-pane active" id="fav">
                                    <h3 class="post-title">年度热门排行榜</h3>
                                    <ul class="media-list">
                                        <li class="media">
                                            <a class="pull-left" href="#"><img class="media-object" src="img/m2.jpg" width="80" height="80" alt="image"></a>
                                            <div class="media-body">
                                                <p class="media-heading"><a href="#">Lorem ipsum dolor sit amet aut consectetur adipisicing elitl libero</a></p>
                                                <small>Sep, 28 2013</small>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <a class="pull-left" href="#"><img class="media-object" src="img/m9.jpg" width="80" height="80" alt="image"></a>
                                            <div class="media-body">
                                                <p class="media-heading"><a href="#">Lorem ipsum dolor sit amet in consectetur adipisicing consequuntur</a></p>
                                                <small>Oct, 9 2013</small>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <a class="pull-left" href="#"><img class="media-object" src="img/m12.jpg" width="80" height="80" alt="image"></a>
                                            <div class="media-body">
                                                <p class="media-heading"><a href="#">Sit amet consectetur adipisicing elit incidunt minus</a></p>
                                                <small>Dec, 30 2013</small>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                
                               
                            </div> <!-- tab-content -->
                        </div>

                        

                        <div class="panel panel-primary">
                            <div class="panel-heading"><i class="fa fa-comments"></i> Recent Comments</div>
                            <div class="panel-body">
                                <ul class="comments-sidebar">
                                    <li>
                                        <img src="static/TestimonialsE/img/client.jpg" class="img-responsive" alt="Image">
                                        <h4><a href="#">Andrew</a> in <a href="#">Lorem ipsum Fugiat elit occaecat aute nisi</a></h4>
                                        <p>Lorem ipsum Occaecat ut esse amet ut eiusmod laborum cillum voluptate do laboris dolor ut elit aliquip velit ut nulla anim ...</p>
                                    </li>
                                    <li>
                                        <img src="static/TestimonialsE/img/client2.jpg" class="img-responsive" alt="Image">
                                        <h4><a href="#">Andrew</a> in <a href="#">Lorem ipsum Fugiat elit occaecat aute nisi</a></h4>
                                        <p>Lorem ipsum Occaecat ut esse amet ut eiusmod laborum cillum voluptate do laboris dolor ut elit aliquip velit ut nulla anim ...</p>
                                    </li>
                                    <li>
                                        <img src="static/TestimonialsE/img/client6.jpg" class="img-responsive" alt="Image">
                                        <h4><a href="#">Andrew</a> in <a href="#">Lorem ipsum Fugiat elit occaecat aute nisi</a></h4>
                                        <p>Lorem ipsum Occaecat ut esse amet ut eiusmod laborum cillum voluptate do laboris dolor ut elit aliquip velit ut nulla anim ...</p>
                                    </li>
                                    <li>
                                        <img src="static/TestimonialsE/img/client4.jpg" class="img-responsive" alt="Image">
                                        <h4><a href="#">Andrew</a> in <a href="#">Lorem ipsum Fugiat elit occaecat aute nisi</a></h4>
                                        <p>Lorem ipsum Occaecat ut esse amet ut eiusmod laborum cillum voluptate do laboris dolor ut elit aliquip velit ut nulla anim ...</p>
                                    </li>
                                    <li>
                                        <img src="static/TestimonialsE/img/client5.jpg" class="img-responsive" alt="Image">
                                        <h4><a href="#">Andrew</a> in <a href="#">Lorem ipsum Fugiat elit occaecat aute nisi</a></h4>
                                        <p>Lorem ipsum Occaecat ut esse amet ut eiusmod laborum cillum voluptate do laboris dolor ut elit aliquip velit ut nulla anim ...</p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </aside> <!-- Sidebar -->
                </div>
            </div>
        </div> <!-- container  -->

        <aside id="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="footer-widget-title">导航</h3>
                        <ul class="list-unstyled three_cols">
                            <li><a href="index">主    页</a></li>
                            <li><a href="Wkfeature">知名景点</a></li>
                            <li><a href="ydtindex">旅游团购</a></li>
                            <li><a href="index">--------</a></li>
                            <li><a href="Wkfeature">--------</a></li>
                            <li><a href="ydtindex">--------</a></li>
                            <li><a href="hotel">酒店预订</a></li>
                            <li><a href="Photo">游客相册</a></li>
                            <li><a href="#">游客推荐</a></li>
                            <li><a href="hotel">--------</a></li>
                            <li><a href="Photo">--------</a></li>
                            <li><a href="#">--------</a></li>
                        </ul>
                        <h3 class="footer-widget-title">关注我们</h3>
                        <p>如果您想随时了解旅游信息，掌握旅游动态，请把邮箱留给我们，我们会随时把最新消息发送给您。</p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="邮箱地址">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="button">订阅</button>
                            </span>
                        </div><!-- /input-group -->
                    </div>




                    <div class="col-md-4">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">最近动态</h3>

    {%for f in mzt%}
                            <div class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="/media/{{f.img}}" width="75" height="75" alt="image"></a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">{{f.text}}</a></h4>
                                    <small>{{f.date.year}}年{{f.date.month}}月{{f.date.day}}日</small>
                                </div>
                            </div>
    {%endfor%}  
                        </div>
                    </div>



                    <div class="col-md-4">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">友情链接</h3>
                            <div class="row">

     {%for z in links%}
                                <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                                    <a href="{{z.src}}" class="thumbnail"><img src="/media/{{z.img}}" class="img-responsive" alt="Image"></a>
                                </div>
    
    {%endfor%}
                            </div>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </aside> <!-- footer-widgets -->

        <footer id="footer">
            <p>&copy; 2015.2.10-- <a href="#">智普教育</a>，内蒙古欢迎您。</p>
        </footer>

    </div> <!-- boxed -->

    <div id="back-top">
        <a href="#header"><i class="fa fa-chevron-up"></i></a>
    </div>



    <!-- Scripts -->
    <script src="static/TestimonialsE/js/jquery-1.10.2.min.js"></script>
    <script src="static/TestimonialsE/js/jquery.cookie.js"></script>
    <script src="static/TestimonialsE/js/bootstrap.min.js"></script>
    <script src="static/TestimonialsE/js/jquery.mixitup.min.js"></script>
    <script src="static/TestimonialsE/js/lightbox-2.6.min.js"></script>
    <script src="static/TestimonialsE/js/holder.js"></script>
    <script src="static/TestimonialsE/js/app.js"></script>
    <script src="static/TestimonialsE/js/styleswitcher.js"></script>

    <script src="static/TestimonialsE/js/syntax/shCore.js"></script>
    <script src="static/TestimonialsE/js/syntax/shBrushXml.js"></script>
    <script src="static/TestimonialsE/js/syntax/shBrushJScript.js"></script>

    <script type="text/javascript">
        SyntaxHighlighter.all()
    </script>
</body>

</html>
