
<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->  
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en">   <!--<![endif]-->  
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<link href="static/Ydtravels/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="static/Ydtravels/assets/font-awesome/css/font-awesome.css">
		<!--[if IE 7]>
  		<link rel="stylesheet" href="static/Ydtravels/assets/font-awesome/css/font-awesome-ie7.css">
		<![endif]-->		
		<link href="static/Ydtravels/assets/css/style.css" rel="stylesheet">
		<link href="static/Ydtravels/assets/css/style_responsive.css" rel="stylesheet">
		<link href="static/Ydtravels/assets/css/effects.css" rel="stylesheet">
		<link href="static/Ydtravels/assets/fancybox/source/jquery.fancybox.css" rel="stylesheet">
		<link href="static/Ydtravels/assets/flexslider2/flexslider.css" rel="stylesheet">				
	</head>
	
	<body>
		
		
		
		<div id="content-body" class="projects">

			<div class="container">
				
				<div class="row-fluid margin-top-15">

					<div class="span9">

						<div class="row-fluid">
					
							<div class="span4">
								<div class="work img-polaroid">
									<div class="work-item">
										<img src="static/Ydtravels/assets/img/work/work1.jpg" alt="project 1">										
										<div class="work-info">
											<div class="work-title">Project #1</div>
											<div class="work-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, dolor sit amet.</div>
											<a class="work-link shake" href="project.html">
												<i class="icon-plus"></i>&nbsp;Learn more
											</a>		
										</div>
									</div>
									<div class="desc">
										Project #1		
									</div>									
								</div>
							</div>
					
							<div class="span4">
								<div class="work img-polaroid">
									<div class="work-item">
										<img src="static/Ydtravels/assets/img/work/work2.jpg" alt="project 1">										
										<div class="work-info">
											<div class="work-title">Project #2</div>
											<div class="work-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, dolor sit amet.</div>
											<a class="work-link shake" href="project.html">
												<i class="icon-plus"></i>&nbsp;Learn more
											</a>		
										</div>
									</div>
									<div class="desc">
										Project #2		
									</div>									
								</div>
							</div>	

							<div class="span4">
								<div class="work img-polaroid">
									<div class="work-item">
										<img src="static/Ydtravels/assets/img/work/work3.jpg" alt="project 1">										
										<div class="work-info">
											<div class="work-title">Project #3</div>
											<div class="work-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, dolor sit amet.</div>
											<a class="work-link shake" href="project.html">
												<i class="icon-plus"></i>&nbsp;Learn more
											</a>		
										</div>
									</div>
									<div class="desc">
										Project #4		
									</div>									
								</div>
							</div>							
					
						</div>
						
						<div class="row-fluid margin-top-40">
							
							<div class="span4">
								<div class="work img-polaroid">
									<div class="work-item">
										<img src="static/Ydtravels/assets/img/work/work4.jpg" alt="project 1">										
										<div class="work-info">
											<div class="work-title">Project #4</div>
											<div class="work-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, dolor sit amet.</div>
											<a class="work-link shake" href="project.html">
												<i class="icon-plus"></i>&nbsp;Learn more
											</a>		
										</div>
									</div>
									<div class="desc">
										Project #4	
									</div>									
								</div>
							</div>
							
							<div class="span4">
								<div class="work img-polaroid">
									<div class="work-item">
										<img src="static/Ydtravels/assets/img/work/work1.jpg" alt="project 1">										
										<div class="work-info">
											<div class="work-title">Project #5</div>
											<div class="work-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, dolor sit amet.</div>
											<a class="work-link shake" href="project.html">
												<i class="icon-plus"></i>&nbsp;Learn more
											</a>		
										</div>
									</div>
									<div class="desc">
										Project #5
									</div>									
								</div>
							</div>

							<div class="span4">
								<div class="work img-polaroid">
									<div class="work-item">
										<img src="static/Ydtravels/assets/img/work/work3.jpg" alt="project 1">										
										<div class="work-info">
											<div class="work-title">Project #6</div>
											<div class="work-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, dolor sit amet.</div>
											<a class="work-link shake" href="project.html">
												<i class="icon-plus"></i>&nbsp;Learn more
											</a>		
										</div>
									</div>
									<div class="desc">
										Project #6
									</div>									
								</div>
							</div>						
							
						</div>

						<div class="row-fluid margin-top-10">
							<div class="pagination pagination-centered">
							  <ul>
							    <li><a href="#">Prev</a></li>
							    <li><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">Next</a></li>
							  </ul>
							</div>
						</div>

					</div>	

					<div class="span3 1padding-left-30 sidebar clearfix margin-bottom-10">

						<ul class="nav nav-list margin-top-5">
				          <li class="active"><a href="#"><i class="icon-chevron-left"></i> Creative Technologies</a></li>
				          <li ><a href="#"><i class="icon-chevron-left"></i> Web Development</a></li>
				          <li class=""><a href="#"><i class="icon-chevron-left"></i> Mobile Apps</a></li>
				          <li class=""><a href="#"><i class="icon-chevron-left"></i> Online Compaiges</a></li>
				          <li class=""><a href="#"><i class="icon-chevron-left"></i> Media Buzz</a></li>
				          <li class=""><a href="#"><i class="icon-chevron-left"></i> Marketing Analyses</a></li>
				        </ul>						
					</div>

				</div>
			</div>
		
		</div><!-- /content-body -->	
			
		

		<script src="static/Ydtravels/assets/js/jquery-1.8.2.min.js"></script>
		<script src="static/Ydtravels/assets/bootstrap/js/bootstrap.min.js"></script>	
		<script src="static/Ydtravels/assets/flexslider2/jquery.flexslider-min.js"></script>
		<script src="static/Ydtravels/assets/fancybox/source/jquery.fancybox.pack.js"></script>
		<!--[if lt IE 9]>
		<script src="static/Ydtravels/assets/js/respond.js"></script>
		<![endif]-->		
		<script src="static/Ydtravels/assets/js/app.js"></script>	
	</body>
</html>	
<script>
jQuery(document).ready(function() {
  	App.initInner();
	App.initGeneral();
	App.initProjects();
});
</script>		